
@font-face {
  font-family: 'AmericanCaptain';
  src: url('webfonts/AmericanCaptain.eot?#iefix') format('embedded-opentype'),  url('webfonts/AmericanCaptain.woff') format('woff'), url('webfonts/AmericanCaptain.ttf')  format('truetype'), url('webfonts/AmericanCaptain.svg#AmericanCaptain') format('svg');
  font-weight: normal;
  font-style: normal;
}
